@font-face {
    font-family: 'robotoSlabBold';
    src: url('../fonts/roboto/slab/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/slab/robotoslab-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoSlabLight';
    src: url('../fonts/roboto/slab/robotoslab-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/slab/robotoslab-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoSlabRegular';
    src: url('../fonts/roboto/slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/slab/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoSlabThin';
    src: url('../fonts/roboto/slab/robotoslab-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto/slab/robotoslab-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoCondensedBold';
    src: url('../fonts/roboto/condensed/robotocondensed-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/roboto/condensed/robotocondensed-bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoCondensedBoldItalic';
    src: url('../fonts/roboto/condensed/robotocondensed-bolditalic_0-webfont.woff2') format('woff2'),
         url('../fonts/roboto/condensed/robotocondensed-bolditalic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoCondensedItalic';
    src: url('../fonts/roboto/condensed/robotocondensed-italic_0-webfont.woff2') format('woff2'),
         url('../fonts/roboto/condensed/robotocondensed-italic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoCondensedLight';
    src: url('../fonts/roboto/condensed/robotocondensed-light_0-webfont.woff2') format('woff2'),
         url('../fonts/roboto/condensed/robotocondensed-light_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoCondensedLightItalic';
    src: url('../fonts/roboto/condensed/robotocondensed-lightitalic_0-webfont.woff2') format('woff2'),
         url('../fonts/roboto/condensed/robotocondensed-lightitalic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoCondensedRegular';
    src: url('../fonts/roboto/condensed/robotocondensed-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/roboto/condensed/robotocondensed-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Rr';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Rb';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on April 2, 2019 */



@font-face {
    font-family: 'playfairDisplayBlack';
    src: url('../fonts/playfair/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('../fonts/playfair/playfairdisplay-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfairDisplayBlackItalic';
    src: url('../fonts/playfair/playfairdisplay-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/playfair/playfairdisplay-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfairDisplayBold';
    src: url('../fonts/playfair/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfair/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfairDisplayboldItalic';
    src: url('../fonts/playfair/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfair/playfairdisplay-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfairDisplayItalic';
    src: url('../fonts/playfair/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfair/playfairdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfairDisplayRegular';
    src: url('../fonts/playfair/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfair/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Attentica4F';
    src: url('../fonts/attentica_4f_ultralight-webfont.woff2') format('woff2'),
         url('../fonts/attentica_4f_ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}