.mentors__filter
    .mentors__filter-all
        .box__btn.box__btn-all
            input(type="checkbox" data-attr="chk_all" class="chk chk_all")
            .knobs
            .layer
            .text Все
    .mentors__filter-activities1
        .box__btn.box__btn-activities1
            input(type="checkbox" data-attr="chk_dgt" class="chk chk_dgt")
            .knobs
            .layer
            .text Digital PR & SMM
    .mentors__filter-activities2
        .box__btn.box__btn-activities1
            input(type="checkbox" data-attr="chk_mrk" class="chk chk_mrk")
            .knobs
            .layer
            .text Маркетинг