.popop__form-wr
    .popop__form__title
        .wrap__news__title-img
            img(src="assets/images/lips.png" class="popop__form-img")
        .popop__form_title__shrt-text Получить лучшее на почту
    form.popop__form
        input(type="email" placeholder="Ваш e-mail" class="popop__form-input")
        input(type="submit" value="ок" class="popop__form-submit")
    .popop__form__text Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
    svg.popop__form--svg
        use(xlink:href="assets/sprite/sprite.svg#closed")