.preloader
    .preloader-list
        li.preloader-item 
            img(src="assets/images/1.png").preloader--img
        li.preloader-item
            img(src="assets/images/2.png").preloader--img
        li.preloader-item
            img(src="assets/images/3.png").preloader--img
        li.preloader-item
            img(src="assets/images/4.png").preloader--img
        li.preloader-item
            img(src="assets/images/5.png").preloader--img
        