extends ../template

block variables
    - var title = 'Что такое волна'

block content
    include ../common/header.pug
    section.section.box-shadow
        .container
            include ../section/content-menu.pug
    section.section.section__about.box-shadow
        .container.container__art
            include ../section/section-art.pug
            include ../common/aside.pug
    section.section
        .container
            include ../section/share.pug
    section.section
        .container
            include ../section/more-materials.pug
    footer.footer
        .container
            include ../common/footer.pug
    .popup-menu
        .popup-menu-left
        .popup-menu-right
        .wrap-menu-mobile
            include ../common/header-nav.pug
        .closed__menu-mobile
            svg.closed--svg
                use(xlink:href="assets/sprite/sprite.svg#closed")
    include ../common/btn-up.pug