@import "config/variables.styl"
@import "config/mixins.styl"


@import "layout/font.styl"
@import "layout/base.styl"
@import "layout/adjastment.styl"
@import "layout/blanks.styl"

@import "slick/slick.styl"
@import "slick/slick-theme.styl"

@import "fancybox/core.styl"
@import "fancybox/fullscreen.styl"
@import "fancybox/share.styl"
@import "fancybox/slideshow.styl"
@import "fancybox/thumbs.styl"

@import "common/header.styl"
@import "common/header-nav.styl"
@import "common/header-slider.styl"
@import "common/footer.styl"
@import "common/popup-menu.styl"
@import "common/btn-up.styl"
@import "common/filter-mentors.styl"
@import "common/form-popup.styl"
@import "common/aside.styl"
@import "common/slider-def.styl"
@import "common/scrollAnimate.styl"
@import "common/preloader.styl"

@import "section/content-menu.styl"
@import "section/share.styl"
@import "section/content-courses-menu.styl"
@import "section/courses-card.styl"
@import "section/section-about.styl"
@import "section/section-crew.styl"
@import "section/section-contacts.styl"
@import "section/section-mentors.styl"
@import "section/section-news.styl"
@import "section/section-art.styl"
@import "section/more-materials.styl"
@import "section/section-blog.styl"

