-
    var aboutsArr = [
            { 
                title: "Волна <span>/ AdIndex </span>",
                text : [
                    "Новый образовательный проект для рекламистов и маркетологов, которые хотят вырасти в профессии. Мы поняли, что рынку нужно нечто глобальное, проект, который свяжет между собой людей с разной экспертизой, и где учащиеся смогут получать новые, необходимые им знания для решения любых практических задач. Поэтому мы решили создать образовательную платформу для обмена опытом.", 
                    "Другими словами, ВОЛНА – это интеллектуальная шеринговая платформа. Это значит, что мы собираем на ВОЛНЕ профессионалов, которые готовы делиться практическим опытом, поэтому все курсы и лекции на нашей платформе в первую очередь нацелены на решение конкретных практических задач. Все преподаватели платформы – действующие практики ведущих компаний страны."
                ]
            },
            { 
                title: "Волна",
                text : [
                    "Это офлайн и онлайн-проект. Офлайн направление включает обучающие коммерческие программы: интенсивы, длительные курсы и семинары. Также ВОЛНА предлагает обучающие кастомизированные программы для различных бизнес-юнитов рекламных агентств, отделов маркетинга рекламодателей, региональных офисов компаний и владельцев малого бизнеса. Преподаватели ВОЛНЫ участвуют в индустриальных конференциях (мастер-классы, круглые столы, форумы, дискуссионные панели) и в конференциях и круглых столах ВОЛНЫ.", 
                    "Онлайн-направление – это популярный лекторий для читателей Adindex, в котором можно ознакомиться с тематическими лекциями, статьями, рекомендательным контентом, видеоинтервью и аудиопокастами, автором которых являются как преподаватели ВОЛНЫ, так и другие профессионалы рынка.", 
                    "Кроме того, AdIndex ВОЛНА готова вбирать в себя разные обучающие проекты, помогать им развиваться и привлекать внимание аудитории. Принцип интеллектуальной шеринговой платформы заключается в том, чтобы обмениваться опытом и возможностями для развития. Мы продвигаем ваши курсы, а ваши лучшие лекторы делятся опытом с людьми на нашей ВОЛНЕ."
                ]
            },
    ]

    var parnersArr = [
        {
            title : "Индустриальные объединения:",
            src : [
                "assets/images/partnersLogo/logo1.png",
                "assets/images/partnersLogo/logo2.png",
                "assets/images/partnersLogo/logo3.png",
                "assets/images/partnersLogo/logo4.png"
            ]
        },
        {
            title : "Стратегические партнеры:",
            src : [
                "assets/images/partnersLogo/logo5.png",
                "assets/images/partnersLogo/logo6.png",
                "assets/images/partnersLogo/logo7.png",
                "assets/images/partnersLogo/logo8.png",
                "assets/images/partnersLogo/logo9.png",
                "assets/images/partnersLogo/logo10.png",
                "assets/images/partnersLogo/logo11.png",
                "assets/images/partnersLogo/logo12.png",
                "assets/images/partnersLogo/logo13.png"
            ]
        }
    ]