-
    var coursesArr = [
            {
                courses : 'Digital <br> PR & SMM',
                num : "1",
                courses2: "Digital PR & SMM",
                imageSrc: "assets/images/card/card1.png",
                trainingName : "Курс",
                info: "true",
                infoText: " Осталось всего 3 места",
                infoClass: "red",
                text : "Современный PR-специалист может хорошо писать тексты и иметь обширную базу журналистов, но более успешным и востребованным он будет, если будет знать основы digital, programmatic, научится пользоваться технологическими платформами для разработки лендингов и инфографики, рекламными кабинетами социальных сетей и многим другим", 
                linkMore: "https://volna-courses.adindex.ru/",
                when : "Зима 2018",
                duration : "24 дня",
                formOfStudy : "Обычный",
                numberOfMentors : "Более 35",
                warningInfo : "false",
                warningPrice : "false",
                price: "60 000 ",
                attr : ""
            },
            {
                courses : "Бренд- <br>маркетинг",
                num : "2",
                courses2: "Образовательный курс по бренд-маркетингу",
                imageSrc: "assets/images/card/card2.png",
                trainingName : "Курс",
                info: "true",
                infoText: " Скидка 20% до 31 августа",
                infoClass: "blue",
                text : "8 недель концентрированного маркетинга от экспертов с огромным опытом + компьютерная игра по бренд-стратегии из Франции", 
                linkMore: "https://volna.adindex.ru/courses/brand-marketing/index.phtml",
                when : "2 октября - 22 ноября",
                duration : "8 недель",
                formOfStudy : "Обычный",
                numberOfMentors : "Более 9",
                warningInfo : "true",
                warningwarningInfoText : "До 31 августа",
                warningPrice : "true",
                warningPriceText : "Повышение цены с 1 сентября",
                price: "40 000 ",
                attr : "#"
            },
            {
                courses : "Парктическое  <br>медиапланирование",
                num : "3",
                courses2: "Интенсив парктическое медиапланирование",
                imageSrc: "assets/images/card/card3.png",
                trainingName : "Интенсив",
                info: "false",
                infoText: "",
                infoClass: "blue",
                text : "– один из ключевых этапов реализации маркетинговых коммуникаций. Исключительна его роль в обеспечении эффективности расходования рекламного бюджета, до 80-90% которого приходится именно на медиа. Это соединение науки и искусства, не терпящее поверхностных знаний и нечеткой постановки задач. Вместе с тем для многих рекламодателей медиапланирование все еще остается сложным и малопонятным процессом, доступным только избранным", 
                linkMore: "https://volna.adindex.ru/courses/intensive-practical-media-planni/index.phtml",
                when : "Дата формируется",
                duration : "2 дня",
                formOfStudy : "Обычный",
                numberOfMentors : "1",
                warningInfo : "false",
                warningwarningInfoText : "",
                warningPrice : "false",
                warningPriceText : "",
                price: "20 000 ",
                attr : "#"
            },
            {
                courses : "Медиа <br>сегодня",
                num : "4",
                courses2: "Медиа сегодня: овременный взгляд на производство и монетизациу контента",
                imageSrc: "assets/images/card/card4.png",
                trainingName : "Курс",
                info: "false",
                infoText: "",
                infoClass: "blue",
                text : "Это первый большой и актуальный курс по «новой журналистике», включающий в себя самые передовые знания, которые в данный момент есть на российском рынке", 
                linkMore: "https://volna-courses.adindex.ru/promedia?utm_source=volna&utm_medium=banner&utm_campaign=newmedia",
                when : "22 октября - 18 февраля",
                duration : "24 дня",
                formOfStudy : "Обычный",
                numberOfMentors : "Более 50",
                warningInfo : "false",
                warningwarningInfoText : "",
                warningPrice : "false",
                warningPriceText : "",
                price: "60 000 ",
                attr : "#"
            }
    ]