- 
    var crewArr = [
        ['Василий Ананьин', 'Директор', 'assets/images/crew/crew1.jpg'],
        ['Татьяна Эшназарова', 'Креативный директор', 'assets/images/crew/crew2.jpg' ],
        ['Дарья Филонова', 'Управляющий директор', 'assets/images/crew/crew3.jpg' ],
        ['Татьяна Науменко', 'Куратор проекта', 'assets/images/crew/crew4.jpg' ],
        ['Мария Васильева', 'Аккаутн-менеджер', 'assets/images/crew/crew4.jpg' ]
    ]