.more-materials
    margin-top  gap
    .block__title
        margin-bottom gap
    .h2__title
        text-align center
.more-materials__item
    margin-bottom 80px 
    +adapt(768px)
        border-bottom 1px solid #707070
        padding-bottom gap
        margin-bottom gap