.courses-menu
    .courses-menu__images__block
    .courses__content__menu
        nav.courses__content__menu--nav
            ul.courses__content__menu--list
                include ../mixins/content-menu-courses-mix.pug