.art
    .art__fix-width-wr
        .art-division Шторм идей
        article.article
            .art__first-title-wr
                h2.first-title Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов
            p Последние громкие скандалы, вызванные неосторожным высказыванием PR-специалистов в социальных сетях, в очередной раз остро поставили вопрос: что же такое соцсети для пиарщика — удобный инструмент для коммуникаций или личное пространство, где можно смело высказываться, не оглядываясь на должность. Редакция ВОЛНЫ поговорила с экспертами — Олегом Крупеновым, PR-директором СМИ2 и наставником ВОЛНЫ, и Ольгой Вяткиной, PR-директором агентства Nectarin — о том, что сегодня можно, а что нельзя делать даже в личном аккаунте
            .art__img-wr
                img(src="assets/images/art/pic.png").art-img--larg
            p Кратко напомним предысторию. В начале июля Галина Панина, PR-директор международной компании «Леруа Мерлен», разместила в своем Facebook пост, о котором можно смело сказать — «взорвал интернет». Он не только собрал большое число комментариев, запустил флешмоб #Я_Не_Покупаю_В_Леруа_Мерлен , привлек внимание чиновников, но и стал инфоповодом для всех ведущих российских СМИ.
            
            .block-pick
                svg.block-pick--svg
                    use(xlink:href="assets/sprite/sprite.svg#down")
                img.block-pick-img(src="assets/images/volna.png")
                svg.block-pick--svg
                    use(xlink:href="assets/sprite/sprite.svg#down")
            p.wr__latter-text
                span.first-letter К
                span.next-text Кратко напомним предысторию. В начале июля Галина Панина, PR-директор международной компании «Леруа Мерлен», разместила в своем Facebook пост, о котором можно смело сказать — «взорвал интернет». Он не только собрал большое
            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
            .art__box-wrap
                .art__box.fix-widt50.float-r.txt-center 
                    .decor-img-wr
                        img(src="assets/images/art/trap.png")
                    .incut-text-wr
                        .incut-text Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов 
                    .decor-img-wr
                        img(src="assets/images/art/trap2.png")
                .art__box
                    p  Aldus Corporation, которая впоследствии объединилась с Adobe Systems, помогли принести Lorem Ipsum в информационную эпоху с ее 1985 флагманского программного обеспечения Aldus PageMaker. Программа входит в комплект с Lorem Ipsum манекен текст, чтобы помочь с выложив содержимое страницы и другие текстовые процессоры, такие как Microsoft Word
            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
            
            .block__incut.animate-block-plus
                .incut-svg.incut-svg-plus1
                    include ../common/plus.pug
                .incut-svg.incut-svg-plus2
                    include ../common/plus.pug
                .block__incut-text-wr
                    .incut-text Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов 
                .incut-svg.incut-svg-plus3
                    include ../common/plus.pug
                .incut-svg.incut-svg-plus4
                    include ../common/plus.pug
            
            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
            .block__incut
                .decor-img-wr
                    img(src="assets/images/art/curve.png")
                .block__incut-text-wr
                    .incut-text Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов, ад для пиарщиков, где искать деньги в медиа и почему SMM — новое TV
                .decor-img-wr
                    img(src="assets/images/art/curve.png")
            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
            .art__box-wrap
                .art__box.fix-widt50.float-l.art__box-border
                    .incut-text Как пиарщику не разрушить репутацию
                    ul.incut-list
                        li.incut-item
                            .color__sm-num 01
                            .incut-item__shrt-text Aldus Corporation
                        li.incut-item
                            .color__sm-num 02
                            .incut-item__shrt-text Aldus Corporation
                        li.incut-item
                            .color__sm-num 03
                            .incut-item__shrt-text Aldus Corporation
                        li.incut-item
                            .color__sm-num 04
                            .incut-item__shrt-text Aldus Corporation
                        li.incut-item
                            .color__sm-num 05
                            .incut-item__shrt-text Aldus Corporation

                .art__box
                    p Aldus Corporation, которая впоследствии объединилась с Adobe Systems, помогли принести Lorem Ipsum в информационную эпоху с ее 1985 флагманского программного обеспечения Aldus PageMaker. Программа входит в комплект с Lorem Ipsum манекен текст, чтобы помочь с выложив содержимое страницы и другие текстовые процессоры, такие как Microsoft Word последовали его примеру. В последнее время рост веб-дизайна помогла пролиферируют Lorem Ipsum через Интернет в качестве заполнителя для выкладки веб-сайтов и blogs-, а в некоторых случаях окончательное содержание (не пусть это будет вам!).
            .clearfix
            .art-item.mt-gap.art-item-def
                a(href="#").incut-text Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов, ад для пиарщиков, где искать деньги в медиа и почему SMM — новое TV
                .art-item-text Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
            
            - for(var i = 0; i < 3; i++){
                .art-item
                    .art-division Шторм 
                    .art-item-wr
                        a(href="#").incut-text Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов, ад для пиарщиков, где искать деньги в медиа и почему SMM — новое TV
                    .art-item-text Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
                    
            - }
            .art-item
                .art__box.fix-widt50.float-r
                    a.art__fancybox__link.group(href="https://www.youtube.com/watch?v=iaxVSQtSNzs&autoplay=0&feature=youtu.be")
                        img(src="assets/images/art/cat.png").art__box-image
                        .wr__icon-play
                            img(src="assets/images/art/play.png").icon-play__img
                .art__box.mt-gap_mob
                    .art-division Шторм 1
                    .art-item-wr
                        a(href="#").incut-text Как пиарщику не разрушить репутацию компании
                    p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей 
                    .art-item-text для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
            .art-item
                .art__box
                    a.art__fancybox__link.group(href="https://www.youtube.com/watch?v=iaxVSQtSNzs&autoplay=0&feature=youtu.be")
                        img(src="assets/images/art/img123.png").art__box-image
                        .wr__icon-play
                            img(src="assets/images/art/play.png").icon-play__img
            .art-item    
                .art__box Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
            .art-item    
                .art__box Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
        
            .art__box-wrap.mt-gap
                .art__box.fix-widt30.float-l
                    .art__box__bckg-img-wr
                        img(src="assets/images/art/img1.png").art__box-image
                .art__box
                    .art__shrt-text.ml-def Олег Крупенов, PR-директор СМИ2,
                            br 
                            |наставник ВОЛНЫ:  
                    p Все зависит от целей. Хотите общаться с друзьями — не проблема, социальные сети в принципе для этого и созданы. Построение личного бренда — вполне себе разумная идея для специалиста по связям с общественностью. Но важно понимать, что в определенный момент пользователя начинают ассоциировать с компанией, в которой он работает. Например, после того, как он указывает место работы в своем профиле.
                    
            .clearfix   
            .art__box-wrap.mt-gap
                .art__box.fix-widt30.float-l 
                    .art__box__bckg-img-wr
                        img(src="assets/images/art/img2.png").art__box-image
                .art__box
                    .art__shrt-text.ml-def Ольга Вяткина, PR-директор Nectarin:
                    p Профессиональные пиарщики часто используют Facebook для рабочих переписок и поиска деловых контактов, поэтому для них очень важно следить за своим профилем. По моему мнению, существуют две стратегии ведения аккаунтов в соцсетях:
                    p 
                        span.color-red 1. 
                        |Закрытый аккаунт «для друзей». На таких страницах можно публиковать любой контент и не беспокоиться о том, что его увидят посторонние. Однако настройки закрытой страницы не могут гарантированно защитить, так как ваш пост в любой момент может стать публичным. 
                    p
                        span.color-red 2.
                        |Открытый публичный аккаунт. Такие страницы нужны для выстраивания вашего личного имиджа как специалиста по коммуникациям. Здесь можно указать должность и компанию, в который вы работаете. Важно уметь фильтровать контент и размещать только тот, который не противоречит нормам, принятым в обществе, и не сможет навредить имиджу вашей компании.
            .art__slider
                .slider__list
                    .slider__item
                        img(src="assets/images/art/pic.png").slider-img 
                    .slider__item
                        img(src="assets/images/art/img123.png").slider-img
                    .slider__item
                        img(src="assets/images/art/img22.png").slider-img

            .art__box-wrap.mt-70
                .art__box.fix-widt50.float-r.art__box-border
                    .popop__form__title
                        .wrap__news__title-img
                            img(src="assets/images/lips.png" class="popop__form-img")
                        .popop__form_title__shrt-text Получить лучшее на почту
                    form.popop__form
                        input(type="email" placeholder="Ваш e-mail" class="popop__form-input")
                        input(type="submit" value="ок" class="popop__form-submit")
                    .popop__form__text Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
                .art__box
                    p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал).
            
            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал). 
            .art__box-wrap.flex-768.between.aline-items-center
                .art__box.fix-widt49.txt-center
                    img(src="assets/images/art/we2.png").art__box-image 
                .art__box.fix-widt49.txt-center.mt-gap_mob
                    img(src="assets/images/art/we1.png").art__box-image
            
            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал). 
            .hover__num-animate   
                .art__box-wrap.flex-768.mt-100
                    .art__box
                        .animate-wr-num
                            .num-animate1-1 0
                            .num-animate1-2 1
                            img.img-animate(src="assets/images/volna.png")
                    .art__box
                        .aimate-wr-text
                            .art__shrt-text Быстрее, чем ТАСС.
                            p Никто не помнит второго человека, покорившего Эверест. Постарайтесь стать первым, кто оседлает свежий инфоповод
                - for (var i = 2; i< 7; i++) {
                    .art__box-wrap.flex-768.mt-100
                        .art__box
                            .animate-wr-num
                                .num-animate1-1 0
                                .num-animate1-2=i
                                img.img-animate(src="assets/images/volna.png")
                            
                        .art__box
                            .aimate-wr-text
                                .art__shrt-text Контент — это король, и он может быть каким угодно, даже голым.
                                p Организуйте свое время и потоки информации таким образом, чтобы постоянно получать новую информацию, актуальные новости и кейсы, не затрачивая на это много времени. Зачастую чужой контекст, чужие идеи и лучшие практики помогают достигнуть собственных высоких результатов в кратчайшие сроки.
                - }


            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал). 
            
            .art__box-wrap
                .art__box.fix-widt50.float-r.txt-center 
                    .decor-img-wr
                        img(src="assets/images/art/curve.png")
                    .incut-text-wr
                        .incut-text Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов 
                    .decor-img-wr
                        img(src="assets/images/art/curve.png")
                .art__box
                    p  Aldus Corporation, которая впоследствии объединилась с Adobe Systems, помогли принести Lorem Ipsum в информационную эпоху с ее 1985 флагманского программного обеспечения Aldus PageMaker. Программа входит в комплект с Lorem Ipsum манекен текст, чтобы помочь с выложив содержимое страницы и другие текстовые процессоры, такие как Microsoft Word
                
            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал). 
            
            .art__box-wrap.flex-768.between.aline-items-center
                .art__box.fix-widt49.txt-center
                    .decor-img-wr
                        img(src="assets/images/volna.png")
                    .incut-text-wr
                        .incut-text Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов 
                    .decor-img-wr
                        img(src="assets/images/volna.png") 
                .art__box.fix-widt49.txt-center.mt-gap_mob
                    img(src="assets/images/art/we3.png").art__box-image
            
            p Пять столетий спустя Lorem Ipsum испытал всплеск популярности с выпуском сухого переноса листов Letraset в. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, принтеры, архитекторов и рекламодателей для их профессионального вида и простоты использования. Letraset включены Lorem Ipsum проходы в арсеналом шрифтов, стилей и размеров, затвердевание место Латинского-эск фразу целиком в печатной и графической индустрии. Те, с вниманием к деталям будет даже поймали дань классического текста в эпизоде Mad Men (S6E1 вокруг 1:18:55 для тех, кто не сделал). 

            .art__box-wrap.flex-768.between.aline-items-center
                .art__box.fix-widt49.txt-center
                    img(src="assets/images/art/we3.png").art__box-image
                .art__box.fix-widt49.txt-center.mt-gap_mob
                    .decor-img-wr
                        img(src="assets/images/volna.png")
                    .incut-text-wr
                        .incut-text Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;— рекомендации экспертов 
                    .decor-img-wr
                        img(src="assets/images/volna.png") 
    