.art
    .art-division Точка зрения
    article.article
        .art__first-title-wr
            h2.first-title Как пиарщику не разрушить репутацию компании в соцсетях&nbsp;—&nbsp;рекомендации экспертов
        p Последние громкие скандалы, вызванные неосторожным высказыванием PR-специалистов в социальных сетях, в очередной раз остро поставили вопрос: что же такое соцсети для пиарщика — удобный инструмент для коммуникаций или личное пространство, где можно смело высказываться, не оглядываясь на должность. Редакция ВОЛНЫ поговорила с экспертами — Олегом Крупеновым, PR-директором СМИ2 и наставником ВОЛНЫ, и Ольгой Вяткиной, PR-директором агентства Nectarin — о том, что сегодня можно, а что нельзя делать даже в личном аккаунте
        .art__img-wr
            img(src="assets/images/art/laptop.png").art-img--larg
        p Кратко напомним предысторию. В начале июля Галина Панина, PR-директор международной компании «Леруа Мерлен», разместила в своем Facebook пост, о котором можно смело сказать — «взорвал интернет». Он не только собрал большое число комментариев, запустил флешмоб #Я_Не_Покупаю_В_Леруа_Мерлен , привлек внимание чиновников, но и стал инфоповодом для всех ведущих российских СМИ.
        
        .art__img-wr-boder
            img(src="assets/images/art/baner2.jpg").art-img--larg
        p Закончился скандал, как это обычно бывает, удалением поста и публичными извинениями компании. А сама Галина приняла решение уволиться из компании.
        p Подобные истории, когда одно неосторожное высказывание сотрудника наносит урон репутации компании, далеко не редкость — как в России (например, кейс Петра Лидова, экс-PR-директора «Мегафона»), так и на Западе. Важно помнить, что любого пользователя в определенный момент начинают ассоциировать с его местом работы, говорят эксперты. А потому к любому контенту, даже на личных страницах, надо относиться вдумчиво.
        .art__title-wr
            h2.art__h2-title Как пиарщику вести страницу в соцсетях — скрыть контент или выстраивать свой личный бренд?
        
        .art__box-wrap.mt-gap
            .art__box.fix-widt30.float-l
                .art__box__bckg-img-wr
                    img(src="assets/images/art/img1.png").art__box-image
            .art__box
                .art__shrt-text.ml-def Олег Крупенов, PR-директор СМИ2,
                        br 
                        |наставник ВОЛНЫ:  
                p Все зависит от целей. Хотите общаться с друзьями — не проблема, социальные сети в принципе для этого и созданы. Построение личного бренда — вполне себе разумная идея для специалиста по связям с общественностью. Но важно понимать, что в определенный момент пользователя начинают ассоциировать с компанией, в которой он работает. Например, после того, как он указывает место работы в своем профиле.
                
            .clearfix   
        .art__box-wrap.mt-gap
            .art__box.fix-widt30.float-l 
                .art__box__bckg-img-wr
                    img(src="assets/images/art/img2.png").art__box-image
            .art__box
                .art__shrt-text.ml-def Ольга Вяткина, PR-директор Nectarin:
                p Профессиональные пиарщики часто используют Facebook для рабочих переписок и поиска деловых контактов, поэтому для них очень важно следить за своим профилем. По моему мнению, существуют две стратегии ведения аккаунтов в соцсетях:
                p 
                    span.color-red 1. 
                    |Закрытый аккаунт «для друзей». На таких страницах можно публиковать любой контент и не беспокоиться о том, что его увидят посторонние. Однако настройки закрытой страницы не могут гарантированно защитить, так как ваш пост в любой момент может стать публичным. 
                p
                    span.color-red 2.
                    |Открытый публичный аккаунт. Такие страницы нужны для выстраивания вашего личного имиджа как специалиста по коммуникациям. Здесь можно указать должность и компанию, в который вы работаете. Важно уметь фильтровать контент и размещать только тот, который не противоречит нормам, принятым в обществе, и не сможет навредить имиджу вашей компании.
        .art__title
            h3.art__h3-title О чем категорически нельзя писать
        p 
            span.color-red Олег Крупенов: 
            | Во-первых, в нашей стране есть ряд нормативных актов, прямо указывающих на запрещенные темы. Во-вторых, внутренние корпоративные установки. Надеяться на то, что из-под «замка» никогда ничего не попадет в публичный доступ, я бы не стал. Все тайное становится явным, мы довольно часто имеем возможность это наблюдать.
        p 
            span.color-red Ольга Вяткина: 
            | Экстремистские материалы, неоднозначные публикации, которые могут кого-то оскорбить, и открытые оскорбления. Не стоит публиковать непроверенные истории и fake news, лучше воздержаться от обсуждения политики.
        .art__title
            h2.art__h2-title Как предотвратить развитие кризиса
        p 
            span.color-red Олег Крупенов: 
            |  Волшебной кнопки «устранить кризис», к сожалению, не существует. Каждая ситуация и история ее возникновения индивидуальны. Я бы предложил общий алгоритм:
        ul
            li – сегментировать проблему,
            li – проставить приоритеты,
            li – отработать каждый сегмент в соответствии с целями и запросами.
        p В кризисных ситуациях есть очень важный момент — нельзя оставлять аудиторию без информации. Это породит еще больше слухов, домыслов и искажений реального хода событий.
        p 
            span.color-red Ольга Вяткина: 
            | Главная особенность антикризисной коммуникации — оперативность. Необходимо быстро подготовить ответное заявление и четко сформулировать официальную позицию по проблеме. Очень ценный навык — не ввязываться в словесные перепалки, давать спокойные ответные комментарии, переводить общение в личку. Среди распространенных ошибок при работе с негативом в социальных сетях — эмоциональная реакция. Нужна холодная голова и рациональный подход. В любом случае, не стоит продолжать публичное обсуждение в комментариях, нужно написать спокойный ответный комментарий автору и уладить ситуацию через конструктивный диалог в личной переписке.
        .art__title
            h3.art__h3-title Основные ошибки начинающих специалистов
        p
            span.color-red Олег Крупенов: 
            |Исходя из личного опыта преподавания на профильных факультетах вузов, я бы сказал, что многие молодые специалисты излишне романтизируют профессию в принципе. На мой взгляд, можно выделить несколько проблем: непонимание контекста, эмоциональные суждения и отсутствие разграничения между личным мнением и мнением компании.
        .art__title
            h3.art__h3-title Личный кодекс поведения в соцсетях
        p
            span.color-red Олег Крупенов: 
            | Скорее есть абсолютно органичное понимание того, что профиль в социальной сети может быть ретранслятором любимого бренда. Это вовсе не означает, что нужно публиковать только официальную информацию и писать только деловым языком. Искренние жизненные посты могут позитивно охарактеризовать как самого специалиста, так и компанию, которую он представляет.
        p 
            span.color-red Ольга Вяткина:
            |  7 рекомендаций пиарщикам
        ul
            li 
                span.color-red 1.
                | Соблюдайте баланс между публикациями, посвященными работе и увлечениям. Оставайтесь живым человеком с хобби и увлечениями, а не pr-роботом. Тогда ваша лента не будет пустовать, если вы покинете компанию
            li 
                span.color-red 2.
                | Не забывайте демонстрировать свою работу. Если вы что-то делаете хорошо, напишите об этом. Постепенно у вас соберется целое портфолио.

            li
                span.color-red 3.
                | Не публикуйте противоправную информацию и непроверенные истории, которые могут вызвать негативную реакцию и спровоцировать скандал.
            li
                span.color-red 4.
                | Если вы размещаете материалы, кейсы или новости, обязательно давайте экспертный комментарий. Так вы даете свой взгляд, а не просто показываете заинтересованность.
            li
                span.color-red 5.
                | Не ведитесь на провокации, не вступайте в споры, отвечайте в комментариях сдержанно. Осознанность и продуманная реакция сохранят вам репутацию.
            li
                span.color-red 6.
                | Делитесь опытом и впечатлениями, когда рассказываете о своей работе. Это полезный контент, который сделает вашу работу видимой и покажет вашу точку зрения.
            li 
                span.color-red 7.
                | Не забывайте гордиться собой, результатами вашего труда и компанией, в которой работаете. Все-таки вы — пиарщик.
