- 
    var arrBlog = [
        ['Все', 'year_all' ],
        ['2019 год', 'year_2019' ],
        ['2018 год', 'year_2018' ],
        ['2017 год', 'year_2017' ],
        ['2016 год', 'year_2016' ],
    ]

each item in arrBlog
    li(attr=`${item[1]}`).sub-item-year.blog__header__sub-item=item[0]