-
    var arr = [
        {
            title: 'О нас',
            item: [
                ['Что такое волна', 'about.html'],
                ['Команда', 'crew.html'],
                ['Контакты', 'contacts.html']   
            ]       
        },
        {
            title: 'Слушателями',
            item: [
                ['Курсы волны', 'courses.html'],
                ['Наставники волны', 'mentors.html']
            ]       
        },
        {
            title: 'Направления волны',
            item: [
                ['Курс Digital PR & SMM', 'https://volna-courses.adindex.ru/'],
                ['Медиапланирования и маркетинговые исследования в Digital', 'https://volna-courses.adindex.ru/promedia?utm_source=volna&utm_medium=banner&utm_campaign=newmedia'],
                ['Data Mining в рекламе и маркетинге', 'https://volna-courses.adindex.ru/promedia?utm_source=volna&utm_medium=banner&utm_campaign=newmedia']
            ]       
        }
    ]
for items in arr
    li.footer__menu-item
        .footer__menu-title= items.title
        if items.title == 'Направления волны'
            .footer__wrap-link
                each val in items.item
                    a(href=`${val[1]}` target="_blank").footer__menu-link= val[0]
        else
            .footer__wrap-link
                each val in items.item
                    a(href=`${val[1]}`).footer__menu-link= val[0]